<!DOCTYPE html>
<html>
  <%- partial('_partial/head') %>
  <body>
  <div class="container">
    <%- partial('_partial/header') %>
    <%- body %>
  </div>
  <%- partial('_partial/scripts') %>
  </body>
</html>
